<div class="banner" style="background-image: linear-gradient(-225deg, rgba(148, 73, 130,0.6) 0%, rgba(0,36,61,0.5) 50%), url(<%= asset_path 'banner.jpg' %>);">
  <div class="banner-content">
    <h1>Sell Your Harvest</h1>
    <p>Fresh from the field to your plate</p>
    <%= render 'shared/search' %>
  </div>
</div>
