<h1>This is an overview of all your orders</h1>

<% @orders.each do |order| %>
  <div class="card card-wrapper card-text-block">
    <h3><%= @product.name %></h3>
    <p>Sold by: <%= @seller.company_name %></p>
    <p>Size: <%= order.size %></p>
    <p>Order date: <%= order.created_at %></p>
  </div>
<% end %>
