This will become the homepage

<% @products.each do  | product | %>
  <h3><%= product.name %> <%= product.stars %></h3>
  <p>Total available: <%= product.amount %></p>
  <p>From: <%= @seller.company_name %></p>
<% end %>
